

body {
    text-align: center;


}


#content{
    width: 100%;
    position: relative;
    background: #FFFFFF;
    height: 1500px;
}

.collapse.in {

}
.navbar-harvest .container-fluid{
    background: #f3250a;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f64f0e), color-stop(100%, #f3250a));
    background: -webkit-linear-gradient(top, #F64F0E,#F3250A);
    background: -moz-linear-gradient(top, #F64F0E,#F3250A);
    background: -o-linear-gradient(top, #F64F0E,#F3250A);
    background: -ms-linear-gradient(top, #F64F0E,#F3250A);
    background: linear-gradient(top, #F64F0E,#F3250A);
}
.navbar-harvest .container-fluid .nav {
    float: right;
}
.navbar-harvest .container-fluid  .navbar-brand{
    color: #fff;
    text-shadow: 2px 2px #B47900;
    padding-top: 1.5rem;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 200%;
}
.navbar-harvest .container-fluid .nav li a {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: none;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background 0.1s linear,opacity 0.1s linear;
    -moz-transition: background 0.1s linear,opacity 0.1s linear;
    -ms-transition: background 0.1s linear,opacity 0.1s linear;
    -o-transition: background 0.1s linear,opacity 0.1s linear;
    transition: background 0.1s linear,opacity 0.1s linear;
    -webkit-font-smoothing: antialiased;
    opacity: .9;
    font-weight: 600;
}

/*.language-selector .dropdown-menu > li{*/
    /*border-bottom: 1px solid #ebebeb;*/
    /*border-bottom-width: 1px;*/
    /*border-bottom-style: solid;*/
    /*border-bottom-color: rgb(235, 235, 235);*/
/*}*/
.navbar-harvest .container-fluid .nav li a:hover {
    background: #f60e00;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #fff;
    opacity: 1;
}.navbar-harvest .navbar-nav > li > .dropdown-menu {
     background-color: #f60e00;
 }
.navbar-harvest .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
}
.navbar-harvest .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-harvest .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffeba9;
    background-color: #f60e00;
}
.navbar-harvest .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #f36c00;
}
.navbar-harvest .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffeba9;
    background-color: #f60e00;
}
.navbar-harvest .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffeba9;
    background-color: #f60e00;
}
.navbar-harvest .navbar-toggle {
    border-color: #f60e00;
    z-index: 10;
}
.navbar-harvest .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #f60e00;
}
.navbar-harvest .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-harvest .navbar-collapse,
.navbar-harvest .navbar-form {
    border-color: #ffffff;
    display: inline-block;
    float: none;
    vertical-align: top;
    text-align: center;

}
.navbar-harvest .navbar-link {
    color: #ffffff;
}
.navbar-harvest.navbar-link:hover {
    color: #ffeba9;
}

@media (max-width: 767px) {
    .navbar-harvest .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-harvest .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffeba9;
    }
    .navbar-harvest .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffeba9;
        background-color: #f60e00;
    }
}
.hidden{
    opacity:0;
}
.visible{
    opacity:1;
}

.hidden2{
    display: none;
    opacity:0;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
}
.visible2{
    display: block;
}





.navbar-harvest .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 30px;
    font-size:      1.5em;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;}
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;

}

#header-wrap {
    width: 100%;
    position: absolute;
    background-color: #e0e0e0;
}

#header {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.grey-bg {
    background-color: #FFFFCC;
}

.gray-text {

    font-weight: 400;
    line-height: 1.6;
    color: #828484;
    font-family: "proxima-nova-alt",Helvetica,Arial,sans-serif;
    text-rendering: optimizelegibility;
}

.history{
    padding-bottom: 200px;
    padding-top: 200px;
}

.padding{
    padding-bottom: 15px;
    padding-top: 80px;
}

.padding2{
    padding-bottom: 15px;
    padding-top: 100px;
}
.introduction{
    padding-bottom: 40px;
    padding-top: 40px;
}

blockquote{
    border-left: none;
}


h2.page-title {
    font-family: "brandon_grotesquebold";
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    background: transparent url("../img/line.jpg") no-repeat scroll center bottom;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    letter-spacing: 3px;
    color: #666;
}

h2.page-title2 {
    font-family: "brandon_grotesquebold";
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    letter-spacing: 3px;
    color: #666;
}

.navbar-inner {
    background:transparent;
}

a {
    color: #b77c00; !important;
    text-decoration: none;
    font-size: 1.4em;
}

.topbar{
    position:absolute;
    top:0
}
.navbar-custom .container-fluid {
    background: #FFFFFF;

}
.navbar-custom .container-fluid .nav {
    float: right;
}
.navbar-custom .container-fluid .navbar-header .navbar-brand{
    color: #fff;
    text-shadow: 2px 2px #B47900;
    padding-top: 1.5rem;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 200%;
}
.navbar-custom .container-fluid .nav li a {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: none;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background 0.1s linear,opacity 0.1s linear;
    -moz-transition: background 0.1s linear,opacity 0.1s linear;
    -ms-transition: background 0.1s linear,opacity 0.1s linear;
    -o-transition: background 0.1s linear,opacity 0.1s linear;
    transition: background 0.1s linear,opacity 0.1s linear;
    -webkit-font-smoothing: antialiased;
    opacity: .9;
    font-weight: 600;
}
.navbar-custom .container-fluid .nav li a:hover {
    background: #f67d0f;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #fff;
    opacity: 1;
}.navbar-custom .navbar-nav > li > .dropdown-menu {
     background-color: #f36c00;
 }
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffeba9;
    background-color: #f67d0f;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #f36c00;
}
.navbar-harvest .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffeba9;
    background-color: #f67d0f;
}
.navbar-custom .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffeba9;
    background-color: #f67d0f;
}
.navbar-custom .navbar-toggle {
    border-color: #f67d0f;
    z-index: 10;
}
.navbar-custom .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #f67d0f;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
    border-color: #ffffff;
    display: inline-block;
    float: none;
    vertical-align: top;
    text-align: center;

}
.navbar-custom .navbar-link {
    color: #ffffff;
}
.navbar-custom.navbar-link:hover {
    color: #ffeba9;
}

@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
        background-color: transparent;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
        background-color: transparent;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: transparent;
    }
}

/*.navbar-custom {*/

    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00aaff', endColorstr='#ff0088cc', GradientType=0);*/
/*}*/
/*.navbar-custom .navbar-brand {*/
    /*color: #ffffff;*/
/*}*/
/*.navbar-custom .navbar-brand:hover,*/
/*.navbar-custom .navbar-brand:focus {*/
    /*color: #e6e6e6;*/
    /*background-color: transparent;*/
/*}*/
/*.navbar-custom .navbar-text {*/
    /*color: #ffffff;*/
/*}*/
/*.navbar-custom .navbar-nav > li:last-child > a {*/

/*}*/
/*.navbar-custom .navbar-nav > li > a {*/
    /*color: #ffffff;*/

/*}*/
/*.navbar-custom .navbar-nav > li > a:hover,*/
/*.navbar-custom .navbar-nav > li > a:focus {*/

    /*background-color: transparent;*/
    /*border-bottom: 4px solid #fff;*/
/*}*/
/*.navbar-custom .navbar-nav > .active > a,*/
/*.navbar-custom .navbar-nav > .active > a:hover,*/
/*.navbar-custom .navbar-nav > .active > a:focus {*/
    /*color: #c0c0c0;*/
    /*border-bottom: 4px solid #fff;*/
/*}*/
/*.navbar-custom .navbar-nav > .disabled > a,*/
/*.navbar-custom .navbar-nav > .disabled > a:hover,*/
/*.navbar-custom .navbar-nav > .disabled > a:focus {*/
    /*color: #cccccc;*/
    /*background-color: transparent;*/
/*}*/
/*.navbar-custom .navbar-toggle {*/
    /*border-color: #dddddd;*/
/*}*/
/*.navbar-custom .navbar-toggle:hover,*/
/*.navbar-custom .navbar-toggle:focus {*/
    /*background-color: #dddddd;*/
/*}*/
/*.navbar-custom .navbar-toggle .icon-bar {*/
    /*background-color: #cccccc;*/
/*}*/
/*.navbar-custom .navbar-collapse,*/
/*.navbar-custom .navbar-form {*/


/*}*/
/*.navbar-custom .navbar-nav > .dropdown > a:hover .caret,*/
/*.navbar-custom .navbar-nav > .dropdown > a:focus .caret {*/
    /*border-top-color: #c0c0c0;*/
    /*border-bottom-color: #c0c0c0;*/
/*}*/
/*.navbar-custom .navbar-nav > .open > a,*/
/*.navbar-custom .navbar-nav > .open > a:hover,*/
/*.navbar-custom .navbar-nav > .open > a:focus {*/

/*}*/
/*.navbar-custom .navbar-nav > .open > a .caret,*/
/*.navbar-custom .navbar-nav > .open > a:hover .caret,*/
/*.navbar-custom .navbar-nav > .open > a:focus .caret {*/
    /*border-top-color: #c0c0c0;*/
    /*border-bottom-color: #c0c0c0;*/
/*}*/
/*.navbar-custom .navbar-nav > .dropdown > a .caret {*/
    /*border-top-color: #ffffff;*/
    /*border-bottom-color: #ffffff;*/
/*}*/
/*@media (max-width: 767 ) {*/
    /*.navbar-custom .navbar-nav .open .dropdown-menu > li > a {*/
        /*color: #ffffff;*/
    /*}*/
    /*.navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,*/
    /*.navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {*/
        /*color: #c0c0c0;*/
        /*background-color: transparent;*/
    /*}*/
    /*.navbar-custom .navbar-nav .open .dropdown-menu > .active > a,*/
    /*.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,*/
    /*.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {*/
        /*color: #c0c0c0;*/
        /*background-color: #0072ab;*/
    /*}*/
    /*.navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,*/
    /*.navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,*/
    /*.navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {*/
        /*color: #cccccc;*/
        /*background-color: transparent;*/
    /*}*/
/*}*/



/*.navbar-custom .navbar-link {*/
    /*color: #ffffff;*/
/*}*/
/*.navbar-custom .navbar-link:hover {*/
    /*color: #c0c0c0;*/
/*}*/


/*   Bootstrap 3.0 by default has a 15px padding on top and bottom, so we just need to override it!*/
.navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}
.navbar {min-height: 0px !important}


.bg-resize {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
}



.action_button {
    padding: 12px 32px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.1) !important;
    box-shadow: none;
    position: relative;
}

.action_button:hover {
    background-color: rgba(255,255,255,.2) !important;
    border-color: #fff;

}

a, a:visited {
    color: #660303;
    text-decoration: none;
    outline: 0px none;
    transition: color 0.1s linear 0s;
}

.action_button:hover {
    background: #380404 none repeat scroll 0% 0%;
    transition: all 200ms ease 0s;
}

.down-arrow {
    background: transparent url("../img/down-arrow.png") no-repeat scroll center center / 26px auto;
    position: fixed;
    bottom: 35px;
    left: 0px;
    width: 100%;
    height: 70px;
    opacity: 0;
    transition: opacity 0.5s ease 0s;
}

.down-arrow.active {
    opacity: 1;
}
.displace {
    position: absolute;
    left: -10000px;
    top: -10000px;
}

#mapContainer {
    min-width: 500px;
    height: inherit;
    width: inherit;
    min-height: 400px;


}


#mapContainer2 {
    min-width: 400px;
    width: inherit;
    min-height: 400px;
    height: inherit;

}
.noPadding{
    padding-left: 0px;
    padding-right: 0px
}
.nounderline{text-decoration: none}

a:hover, a.hover {
    text-decoration: none;
    color: #23527c;
    opacity: 0.75;
}


.addEmptySpace{
    height: 150px;
}

.addEmptySpaceSmall{
    height: 80px;
}

.social i {
    width: 30px;
    height: 30px;
    color: #FFF;
    background-color: #ff4b4b;
    font-size: 22px;
    text-align:center;
    z-index: 2;
    padding-top: 7px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -o-border-radius: 50%;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social i:hover {
    color: #FFF;
    text-decoration: none;
    transition: all ease 0.3s;
    -moz-transition: all ease 0.3s;
    -webkit-transition: all ease 0.3s;
    -o-transition: all ease 0.3s;
    -ms-transition: all ease 0.3s;
}

.social .fa-facebook:hover { /* round facebook icon*/
    background: #4060A5;
}

.buybtn{
    font-family: Arial, sans-serif;
    background:#ff8400;
    background:-webkit-gradient(linear,left top,left bottom,color-stop(#ff8400,0),color-stop(#ff6600,1));
    background:-webkit-linear-gradient(top, #ff8400 0%, #ff6600 100%);
    background:-moz-linear-gradient(top, #ff8400 0%, #ff6600 100%);
    background:-o-linear-gradient(top, #ff8400 0%, #ff6600 100%);
    background:linear-gradient(top, #ff8400 0%, #ff6600 100%);
    filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff8400', endColorstr='#ff6600',GradientType=0 );
    padding-left:20px;
    padding-right:65px;
    height:45px;
    display:inline-block;
    position:relative;
    border:1px solid #ff5a00;
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2), 0px 0px 0px 4px rgba(188,188,188,0.5);
    -webkit-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    -moz-box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    box-shadow:0px 1px 1px rgba(255,255,255,0.8) inset, 1px 1px 3px rgba(0,0,0,0.2);
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
    border-radius:5px;

    clear:both;
    margin:10px 0px;
    overflow:hidden;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}
.buybtn:hover{
    opacity: 100;
}
.buybtn-text{
    padding-top:10px;
    display:block;
    font-size:18px;
    white-space:nowrap;
    text-shadow:0px 1px 1px rgba(255,255,255,0.3);
    color:#6e1d08;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    transition:all 0.2s linear;
}

.buybtn-hidden-text{
    position:absolute;
    height:100%;
    top:0px;
    right: 52px;
    width:0px;
    background:#6e1d08;
    text-shadow:0px -1px 1px #363f49;
    color:#fff;
    font-size:18px;
    white-space:nowrap;
    text-transform:uppercase;
    text-align:left;
    text-indent:17px;
    overflow:hidden;
    line-height:42px;
    -webkit-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -moz-box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    box-shadow:-1px 0px 1px rgba(255,255,255,0.4), 1px 1px 2px rgba(0,0,0,0.2) inset;
    -webkit-transition:width 0.3s linear;
    -moz-transition:width 0.3s linear;
    -o-transition:width 0.3s linear;
    transition:width 0.3s linear;
}

.buybtn-image{
    position:absolute;
    right:0px;
    top:0px;
    height:100%;
    width:52px;
    border-left:1px solid #ff5a00;
    -webkit-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    -moz-box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
    box-shadow:1px 0px 1px rgba(255,255,255,0.4) inset;
}

.buybtn-image span{
    width:38px;
    height:38px;
    opacity:0.7;
    position:absolute;
    left:50%;
    top:50%;
    margin:-20px 0px 0px -20px;
    background:transparent url(../img/cart.png) no-repeat 75% 55%;
    -webkit-transition:all 0.3s linear;
    -moz-transition:all 0.3s linear;
    -o-transition:all 0.3s linear;
    transition:all 0.3s linear;
}

.buybtn:hover .buybtn-text{
    text-shadow:0px 1px 1px #5d81ab;
    color:#fff;
}

.buybtn:hover .buybtn-hidden-text{
    width:100px;
    font-size:9px;
}

.buybtn:hover .buybtn-image span{
    opacity:1;
}

.buybtn:active{
    background:#ff5a00;
}

.down-arrow2 {
    background: transparent url("../img/down-arrow.png") no-repeat scroll center center / 26px auto;
    position: relative;
    top: 20px;
    left: 0px;
    width: 100%;
    height: 70px;
    opacity: 0;
    transition: opacity 0.5s ease 0s;
}
@media (min-width:1025px) { .down-arrow2{opacity: 1} }

.my-gallery {
    width: 100%;

}
.my-gallery img {
    width: 100%;
    height: auto;
}
.my-gallery figure {
    display: block;
    width: 300px;
    padding-top: 20px;
}
/*@media (max-width: 900px) {  .my-gallery figure { margin:30px 30px 30px 220px;;}  }*/
.my-gallery figcaption {
    display: none;
}



