

body {
    text-align: center;


}


#content{
    width: 100%;
    position: relative;
    background: #FFFFFF;
    height: 1500px;
}

.collapse.in {

}
.navbar-harvest .container-fluid{
    background: #f3250a;
    background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f64f0e), color-stop(100%, #f3250a));
    background: -webkit-linear-gradient(top, #F64F0E,#F3250A);
    background: -moz-linear-gradient(top, #F64F0E,#F3250A);
    background: -o-linear-gradient(top, #F64F0E,#F3250A);
    background: -ms-linear-gradient(top, #F64F0E,#F3250A);
    background: linear-gradient(top, #F64F0E,#F3250A);
}
.navbar-harvest .container-fluid .nav {
    float: right;
}
.navbar-harvest .container-fluid .navbar-header .navbar-brand{
    color: #fff;
    text-shadow: 2px 2px #B47900;
    padding-top: 1.5rem;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 200%;
}
.navbar-harvest .container-fluid .nav li a {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: none;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background 0.1s linear,opacity 0.1s linear;
    -moz-transition: background 0.1s linear,opacity 0.1s linear;
    -ms-transition: background 0.1s linear,opacity 0.1s linear;
    -o-transition: background 0.1s linear,opacity 0.1s linear;
    transition: background 0.1s linear,opacity 0.1s linear;
    -webkit-font-smoothing: antialiased;
    opacity: .9;
    font-weight: 600;
}
.navbar-harvest .container-fluid .nav li a:hover {
    background: #f60e00;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #fff;
    opacity: 1;
}.navbar-harvest .navbar-nav > li > .dropdown-menu {
     background-color: #f60e00;
 }
.navbar-harvest .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
}
.navbar-harvest .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-harvest .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffeba9;
    background-color: #f60e00;
}
.navbar-harvest .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #f36c00;
}
.navbar-harvest .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffeba9;
    background-color: #f60e00;
}
.navbar-harvest .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffeba9;
    background-color: #f60e00;
}
.navbar-harvest .navbar-toggle {
    border-color: #f60e00;
    z-index: 10;
}
.navbar-harvest .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #f60e00;
}
.navbar-harvest .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-harvest .navbar-collapse,
.navbar-harvest .navbar-form {
    border-color: #ffffff;
    display: inline-block;
    float: none;
    vertical-align: top;
    text-align: center;

}
.navbar-harvest .navbar-link {
    color: #ffffff;
}
.navbar-harvest.navbar-link:hover {
    color: #ffeba9;
}

@media (max-width: 767px) {
    .navbar-harvest .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-harvest .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffeba9;
    }
    .navbar-harvest .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffeba9;
        background-color: #f60e00;
    }
}
.hidden{
    opacity:0;
}
.visible{
    opacity:1;
}

.hidden2{
    display: none;
    opacity:0;
    transition: opacity .2s ease-out;
    -moz-transition: opacity .2s ease-out;
    -webkit-transition: opacity .2s ease-out;
    -o-transition: opacity .2s ease-out;
}
.visible2{
    display: block;
}





.navbar-harvest .navbar-nav > li > a {
    padding-top: 0px;
    padding-bottom: 0px;
    line-height: 30px;
    font-size:      1.5em;
}

@media (max-width: 767px) {
    .navbar-nav > li > a {
        line-height: 20px;
        padding-top: 10px;
        padding-bottom: 10px;}
}

.navbar-brand
{
    position: absolute;
    width: 100%;
    left: 0;
    text-align: center;
    margin: auto;
}

#header-wrap {
    width: 100%;
    position: absolute;
    background-color: #e0e0e0;
}

#header {
    width: 100%;
    position: absolute;
    bottom: 0;
}

.grey-bg {
    background-color: #FFFFCC;
}

.gray-text {

    font-weight: 400;
    line-height: 1.6;
    color: #828484;
    font-family: "proxima-nova-alt",Helvetica,Arial,sans-serif;
    text-rendering: optimizelegibility;
}

.history{
    padding-bottom: 200px;
    padding-top: 200px;
}

.padding{
    padding-bottom: 15px;
    padding-top: 80px;
}

.padding2{
    padding-bottom: 15px;
    padding-top: 100px;
}
.introduction{
    padding-bottom: 40px;
    padding-top: 40px;
}

blockquote{
    border-left: none;
}


h2.page-title {
    font-family: "brandon_grotesquebold";
    font-weight: normal;
    font-size: 30px;
    text-align: center;
    text-transform: uppercase;
    background: transparent url("img/line.jpg") no-repeat scroll center bottom;
    margin-top: 20px;
    margin-bottom: 30px;
    padding-bottom: 20px;
    letter-spacing: 3px;
    color: #666;
}

h2.page-title2 {
    font-family: "brandon_grotesquebold";
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 10px;
    padding-bottom: 5px;
    letter-spacing: 3px;
    color: #666;
}

.navbar-inner {
    background:transparent;
}

a {
    color: #b77c00;
    text-decoration: none;
    font-size: 1.4em;
}

.topbar{
    position:absolute;
    top:0
}
.navbar-custom .container-fluid {
    background: #FFFFFF;

}
.navbar-custom .container-fluid .nav {
    float: right;
}
.navbar-custom .container-fluid .navbar-header .navbar-brand{
    color: #fff;
    text-shadow: 2px 2px #B47900;
    padding-top: 1.5rem;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 200%;
}
.navbar-custom .container-fluid .nav li a {
    color: #fff;
    padding-top: 20px;
    padding-bottom: 20px;
    text-shadow: none;
    background: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-transition: background 0.1s linear,opacity 0.1s linear;
    -moz-transition: background 0.1s linear,opacity 0.1s linear;
    -ms-transition: background 0.1s linear,opacity 0.1s linear;
    -o-transition: background 0.1s linear,opacity 0.1s linear;
    transition: background 0.1s linear,opacity 0.1s linear;
    -webkit-font-smoothing: antialiased;
    opacity: .9;
    font-weight: 600;
}
.navbar-custom .container-fluid .nav li a:hover {
    background: #f67d0f;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    color: #fff;
    opacity: 1;
}.navbar-custom .navbar-nav > li > .dropdown-menu {
     background-color: #f36c00;
 }
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a {
    color: #ffffff;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-custom .navbar-nav > li > .dropdown-menu > li > a:focus {
    color: #ffeba9;
    background-color: #f67d0f;
}
.navbar-custom .navbar-nav > li > .dropdown-menu > li > .divider {
    background-color: #f36c00;
}
.navbar-harvest .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffeba9;
    background-color: #f67d0f;
}
.navbar-custom .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffeba9;
    background-color: #f67d0f;
}
.navbar-custom .navbar-toggle {
    border-color: #f67d0f;
    z-index: 10;
}
.navbar-custom .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #f67d0f;
}
.navbar-custom .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-custom .navbar-collapse,
.navbar-custom .navbar-form {
    border-color: #ffffff;
    display: inline-block;
    float: none;
    vertical-align: top;
    text-align: center;

}
.navbar-custom .navbar-link {
    color: #ffffff;
}
.navbar-custom.navbar-link:hover {
    color: #ffeba9;
}

@media (max-width: 767px) {
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
        background-color: transparent;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
        background-color: transparent;
    }
    .navbar-custom .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: transparent;
    }
}

/*.navbar-custom {*/

    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff00aaff', endColorstr='#ff0088cc', GradientType=0);*/
/*}*/
/*.navbar-custom .navbar-brand {*/
    /*color: #ffffff;*/
/*}*/
/*.navbar-custom .navbar-brand:hover,*/
/*.navbar-custom .navbar-brand:focus {*/
    /*color: #e6e6e6;*/
    /*background-color: transparent;*/
/*}*/
/*.navbar-custom .navbar-text {*/
    /*color: #ffffff;*/
/*}*/
/*.navbar-custom .navbar-nav > li:last-child > a {*/

/*}*/
/*.navbar-custom .navbar-nav > li > a {*/
    /*color: #ffffff;*/

/*}*/
/*.navbar-custom .navbar-nav > li > a:hover,*/
/*.navbar-custom .navbar-nav > li > a:focus {*/

    /*background-color: transparent;*/
    /*border-bottom: 4px solid #fff;*/
/*}*/
/*.navbar-custom .navbar-nav > .active > a,*/
/*.navbar-custom .navbar-nav > .active > a:hover,*/
/*.navbar-custom .navbar-nav > .active > a:focus {*/
    /*color: #c0c0c0;*/
    /*border-bottom: 4px solid #fff;*/
/*}*/
/*.navbar-custom .navbar-nav > .disabled > a,*/
/*.navbar-custom .navbar-nav > .disabled > a:hover,*/
/*.navbar-custom .navbar-nav > .disabled > a:focus {*/
    /*color: #cccccc;*/
    /*background-color: transparent;*/
/*}*/
/*.navbar-custom .navbar-toggle {*/
    /*border-color: #dddddd;*/
/*}*/
/*.navbar-custom .navbar-toggle:hover,*/
/*.navbar-custom .navbar-toggle:focus {*/
    /*background-color: #dddddd;*/
/*}*/
/*.navbar-custom .navbar-toggle .icon-bar {*/
    /*background-color: #cccccc;*/
/*}*/
/*.navbar-custom .navbar-collapse,*/
/*.navbar-custom .navbar-form {*/


/*}*/
/*.navbar-custom .navbar-nav > .dropdown > a:hover .caret,*/
/*.navbar-custom .navbar-nav > .dropdown > a:focus .caret {*/
    /*border-top-color: #c0c0c0;*/
    /*border-bottom-color: #c0c0c0;*/
/*}*/
/*.navbar-custom .navbar-nav > .open > a,*/
/*.navbar-custom .navbar-nav > .open > a:hover,*/
/*.navbar-custom .navbar-nav > .open > a:focus {*/

/*}*/
/*.navbar-custom .navbar-nav > .open > a .caret,*/
/*.navbar-custom .navbar-nav > .open > a:hover .caret,*/
/*.navbar-custom .navbar-nav > .open > a:focus .caret {*/
    /*border-top-color: #c0c0c0;*/
    /*border-bottom-color: #c0c0c0;*/
/*}*/
/*.navbar-custom .navbar-nav > .dropdown > a .caret {*/
    /*border-top-color: #ffffff;*/
    /*border-bottom-color: #ffffff;*/
/*}*/
/*@media (max-width: 767 ) {*/
    /*.navbar-custom .navbar-nav .open .dropdown-menu > li > a {*/
        /*color: #ffffff;*/
    /*}*/
    /*.navbar-custom .navbar-nav .open .dropdown-menu > li > a:hover,*/
    /*.navbar-custom .navbar-nav .open .dropdown-menu > li > a:focus {*/
        /*color: #c0c0c0;*/
        /*background-color: transparent;*/
    /*}*/
    /*.navbar-custom .navbar-nav .open .dropdown-menu > .active > a,*/
    /*.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:hover,*/
    /*.navbar-custom .navbar-nav .open .dropdown-menu > .active > a:focus {*/
        /*color: #c0c0c0;*/
        /*background-color: #0072ab;*/
    /*}*/
    /*.navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a,*/
    /*.navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:hover,*/
    /*.navbar-custom .navbar-nav .open .dropdown-menu > .disabled > a:focus {*/
        /*color: #cccccc;*/
        /*background-color: transparent;*/
    /*}*/
/*}*/



/*.navbar-custom .navbar-link {*/
    /*color: #ffffff;*/
/*}*/
/*.navbar-custom .navbar-link:hover {*/
    /*color: #c0c0c0;*/
/*}*/


/*   Bootstrap 3.0 by default has a 15px padding on top and bottom, so we just need to override it!*/
.navbar-nav > li > a {padding-top:10px !important; padding-bottom:10px !important;}
.navbar {min-height: 0px !important}


.bg-resize {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: center center;
}

.my-gallery {
    width: 100%;
    float: left;
}
.my-gallery img {
    width: 100%;
    height: auto;
}
.my-gallery figure {
    display: block;
    float: left;
    margin: 0 20px 20px 0;
    width: 300px;
}
.my-gallery figcaption {
    display: none;
}


.action_button {
    padding: 12px 32px;
    border: 1px solid rgba(255, 255, 255, 0.6);
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.1) !important;
    box-shadow: none;
    position: relative;
}

.action_button:hover {
    background-color: rgba(255,255,255,.2) !important;
    border-color: #fff;

}

a, a:visited {
    color: #660303;
    text-decoration: none;
    outline: 0px none;
    transition: color 0.1s linear 0s;
}

.action_button:hover {
    background: #380404 none repeat scroll 0% 0%;
    transition: all 200ms ease 0s;
}

.down-arrow {
    background: transparent url("img/down-arrow.png") no-repeat scroll center center / 26px auto;
    position: fixed;
    bottom: 35px;
    left: 0px;
    width: 100%;
    height: 70px;
    opacity: 0;
    transition: opacity 0.5s ease 0s;
}

.down-arrow.active {
    opacity: 1;
}
.displace {
    position: absolute;
    left: -10000px;
    top: -10000px;
}

#mapContainer div {
    max-width: none;
}

.noPadding{
    padding-left: 0px;
    padding-right: 0px
}


